/* ELEMENT */
body {
	background-color: #dedeff;
}

header {
	background-color: #2b2b2b;
	height: 20vh;
}

main {
	background-color: #ffffff;
	margin: 0 15vw;
	height: 70vh;
}

footer {
	background-color: #151515;
	margin: 0 15vw;
	height: 10vh;
}
/* CLASS */

/* ID */
